.contact {
  background-color: #232323;
  min-height: 268px;

  .container {
    padding-top: 60px;
    @include flexCenter(column);

    .contact_title {
      color: #ffffff;
      font-family: "Josefin Sans";
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
      /* Text style for "Bhromaon" */
      letter-spacing: 3.36px;
    }

    .contact_slogan {
      color: #ffffff;
      font-family: "Josefin Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      /* Text style for "S, afe Tra" */
      letter-spacing: 1.6px;
    }

    .contact_links {
      width: 166px;
    }
  }
}