.icons {
  background-color: #333333;

  .container {
    min-height: 337px;
    padding-top: 100px;

    .item__title {
      color: #e8e8e8;
      font-family: Aleo, sans-serif;
      font-size: 36px;
      font-weight: 400;
      line-height: 26px;
    }
  }
}